#container{
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: aliceblue;
}

table{
    background-color: white;
    width: 1120px;
    height: 30px;
}

table th{
    padding-top: 5px;
    border: 1px solid black;
    width: 500px;
}
table td{
    padding-top: 5px;
    border: 1px solid black;
    width: 500px;
    font-size: 20px;
    vertical-align: auto;
    text-align: center;
}

.input{
    width: 500px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 40px;
}

#submit{
    height: 45px;
    font-size: 20px;
    font-weight: bold;

}
